:root {
  --primary-text-color: #212121;
  --hero--text-color: white;
  --text-color: #757575;
  --accent-color: #2196f3;
  --info--footer-color: rgba(255, 255, 255, 0.6);
  --footer-color-fon: #2f303a;
  --section-color: #afb1b8;
  --blok-title: rgba(47, 48, 58, 0.8);
  --button-color: rgb(73, 180, 247);
  --pic-feature-wrap-color: #f5f4fa;
  --developers-text-footer: rgba(255, 255, 255, 0.4);
}

.body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.web-studio {
  margin: 24px 0px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.studio {
  color: var(--primary-text-color);
}

/*Header styles*/

.list {
  display: flex;
  width: 294px;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  background-color: yellowgreen;
  margin-top: 32px;
  margin-left: 39px;
  padding: 0;
}
.nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.link-contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.link-contacts:hover,
.link-contacts:focus {
  color: var(--accent-color);
}

.blok-title {
  height: 600px;
  background: var(--blok-title);
}

.hero-title {
  width: 696px;
  height: 120px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero--text-color);
  margin: 0px auto;
  padding: 200px auto;
  text-align: center;
}

.button-primary {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--hero--text-color);
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--button-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.pic-feature-wrap {
  width: 270px;
  height: 120px;
  background: var(--pic-feature-wrap-color);
  border-radius: 4px;
}

.title-feature {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.section-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var var(--primary-text-color);
  text-align: center;
}

.section-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero--text-color);
  text-align: center;
  line-height: center;
  width: 370px;
  height: 70px;
  background: var(--blok-title);
  border-radius: 0px 0px 4px 4px;
}
.name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.profession {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.logo-web {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: var(--hero--text-color);
}

.address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--hero--text-color);
}
.info {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--info--footer-color);
}
.appeals {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero--text-color);
}
.mail-input {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--info--footer-color);
}

.developers {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--developers-text-footer);
}

/*Portfolio*/

.filters-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--pic-feature-wrap-color);
  border-radius: 4px;
  border: none;
  margin: 8px;
  align-items: center;
}

.filters-button:hover,
.filters-button:focus {
  background-color: var(--accent-color);
  color: var(--hero--text-color);
}

.projects-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.projects-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.projects-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.footer {
  background: var(--footer-color-fon);
  height: 253px;
}

.top-line {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: yellow;
  margin: 0px auto;
  display: flex;
}

.list-benefits {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: yellow;
  margin: 94px auto 183px auto;
}

.whatwedo-conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: yellow;
  margin: 94px auto;
}

.ourteam-conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: yellow;
  margin: 94px auto;
  padding-top: 94px;
}

.customers-conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: yellow;
  margin: 94px auto;
}

.footer-conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: yellow;
  margin: 94px auto;
}

.ourteam-backgr {
  background-color: var(--section-color);
}

.portfolio-main-conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: yellow;
  margin: 97px auto 90px auto;
}

.projects-list {
  display: inline-flex;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
.filters-list {
  display: flex;
  margin: top 89px bottom 91px;
  padding: 0;
  justify-content: center;
}

.project {
  display: inline-block;
  width: 370px;
  height: 404px;
  margin-bottom: 30px;
  border: ;
}

.link-contacts-conteiner {
  display: inline-block;
  display: flex;
  margin: top 32px;
  justify-content: flex-end;
}
